<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="snake.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Snake Game</title>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>



</head>

<body>
    <h1>Snake Game
    </h1>
    <div id="score">0</div>
    <canvas id="gameCanvas" width="300" height="300"></canvas>

    <div class="buttons">
        <button><i class="up"></i></button>
        <button><i class="down"></i></button>
        <button><i class="left"></i></button>
        <button><i class="right"></i></button>
    </div>

    <script src="snake.js"></script>
</body>

</html>